@model ASP.NET_MVC4_CRUD_WEBAPP.Models.Auction
@{
    var auction = Model;
}@Html.ActionLink("Login", "Login", "Account")

<div class="auction">

   <h3>@auction.Title</h3>

    <div class="details">
        <p>Description : @auction.Description</p>
        <p>Start Time: @auction.StartTime.ToString("g")</p>
        <p>End Time: @auction.EndTime.ToString("g")</p>
        <p>Starting Price: @auction.StartPrice.ToString("C")</p>
        <p class="current-price">
            Current Price:
            @*
            Since CurrentPrice is nullable we have to check to
            see if it has a value before we call .ToString()!
            *@
            @if (auction.CurrentPrice == null)
            {
                <text>
                    [No bids]
                </text>
            }
            else
            {
                <span>@auction.CurrentPrice.Value.ToString("C")</span>
                <span>[@auction.BidCount bids]</span>
            }
        </p>
        @if (auction.ImageUrl != null)
        {
            <img src="@auction.ImageUrl" title="@auction.Title" />
        }
        
<!--Buttons section begin-->

        <p>
            @using (Html.BeginForm("Bid", "Auction"))
            {
                var lowestBidAmount = auction.CurrentPrice.GetValueOrDefault(auction.StartPrice) + 1;
                <span>
                    Bid: $@Html.TextBox("amount", lowestBidAmount)
                    @Html.ValidationMessage("amount")
                </span>

                @Html.Hidden("auctionId", auction.Id)

                <input class="post-bid" type="submit" value="Bid" />
            }
        </p>
    
        <p>
            @using (Html.BeginForm("StopBinding", "Auction"))
            {
               
                @Html.Hidden("auctionId", auction.Id)

                <input class="post-bid2" type="submit" value="Stop bidding " />
            }
        </p>
    
        <!--Buttons section END-->

    </div>  
</div>

@section Scripts {
   <script type="text/javascript">
       $(function ()
       {
            $('.post-bid').on("click", function ()
            {

                var form = $(this).parent("form");

                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize()
                })
                    .success(function (html)
                    {
                        $('.current-price').replaceWith(html);
                    })
                    .error(function ()
                    {
                        alert("Your bid has been rejected");
                    });

                return false;
            });
       });

       $(function () {
           $('.post-bid2').on("click", function () {

               var form = $(this).parent("form");

               $.ajax({
                   type: "POST",
                   url: form.attr('action'),
                   data: form.serialize()
               })
                   .success(function (html)
                   {
                       var answer = confirm ("You stopped the binding");
                       if (answer)
                        {
                           window.location = "http://localhost:3306/Auction";
                        }
                   })
                   .error(function () {
                       alert("Error during binding stopped");
                   });

               return false;
           });
       });
    </script>
}