@{
    var auction = new ASP.NET_MVC4_CRUD_WEBAPP.Models.Auction()
    {
        Title="Example Auction",
        Description = "This is an example Auction",
        StartTime=DateTime.Now,
        EndTime = DateTime.Now.AddDays(7),
        StartPrice = 1.00m,
        CurrentPrice = null,
   
        
    };
}

<a href="@Url.Action("Login", "Account")">Login</a>

<div class="auction">
    <h3>@auction.Title</h3>
    
            <div class="details">
                <p>Start Time: @auction.StartTime.ToString("g")</p>
                <p>End Time :  @auction.EndTime.ToString("g")</p>
                <p>Starting Price :  @auction.StartPrice.ToString("C")</p>
            
            <p>Current Price: </p>
                @if(auction.CurrentPrice==null)
                {
                    
                    @:[No bids]
                }
                else
                {
                    <span>@auction.CurrentPrice.Value.ToString("C")</span>
                }
            
            </div>

    @if (auction.ImageUrl != null)
    {
        <img src="@auction.ImageUrl" title="@auction.Title" />
    }

    <div class="description">
        @auction.Description
    </div>



</div>
